/*
//
// Last.Backend LLC CONFIDENTIAL
// __________________
//
// [2014] - [2017] Last.Backend LLC
// All Rights Reserved.
//
// NOTICE:  All information contained herein is, and remains
// the property of Last.Backend LLC and its suppliers,
// if any.  The intellectual and technical concepts contained
// herein are proprietary to Last.Backend LLC
// and its suppliers and may be covered by Russian Federation and Foreign Patents,
// patents in process, and are protected by trade secret or copyright law.
// Dissemination of this information or reproduction of this material
// is strictly forbidden unless prior written permission is obtained
// from Last.Backend LLC.
//
 */

.namespace-list {
  margin-top: 40px;
}

.namespace-list-header {
  margin: 20px 0;
  padding: 20px 0 30px;
}

.namespace-list-header h1{
  margin: 0;
}

.namespace-list-items {
  margin-top: 50px;
}

.namespace-card {
  margin-bottom: 30px;
  padding: 10px 10px 10px 30px;
}

.namespace-card:hover {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5) !important;
}

.namespace-card a {
  color: #000000;
}

.namespace-card-title {
  text-transform: capitalize;
}

.namespace-card-description {
  color: #737373;
}

.namespace-card-charts {
  text-align: center;
}

.namespace-service-filter {
  margin-bottom: 20px;
}

.namespace-header-description {
  min-height: 50px;
  color: #737373;
}

@media (min-width: 768px) {
  .namespace-list {
    padding: 0 80px;
  }
  .namespace-card-charts {
    text-align: right;
  }
}