/*
//
// Last.Backend LLC CONFIDENTIAL
// __________________
//
// [2014] - [2017] Last.Backend LLC
// All Rights Reserved.
//
// NOTICE:  All information contained herein is, and remains
// the property of Last.Backend LLC and its suppliers,
// if any.  The intellectual and technical concepts contained
// herein are proprietary to Last.Backend LLC
// and its suppliers and may be covered by Russian Federation and Foreign Patents,
// patents in process, and are protected by trade secret or copyright law.
// Dissemination of this information or reproduction of this material
// is strictly forbidden unless prior written permission is obtained
// from Last.Backend LLC.
//
 */

.preloader-cube-grid {
  width: 50px;
  height: 50px;
  margin: 25px auto;
}

.preloader-cube-grid .preloader-cube {
  width: 33%;
  height: 33%;
  background-color: #0275d8;
  float: left;
  -webkit-animation: preloader-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: preloader-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.preloader-cube-grid .preloader-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.preloader-cube-grid .preloader-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.preloader-cube-grid .preloader-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.preloader-cube-grid .preloader-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.preloader-cube-grid .preloader-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.preloader-cube-grid .preloader-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.preloader-cube-grid .preloader-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.preloader-cube-grid .preloader-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.preloader-cube-grid .preloader-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes preloader-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes preloader-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}